/* 02/24/2019 */
/* BigNoodleTitling */
@font-face {
font-family: 'BigNoodleTitling';
src: url('big_noodle_titling.woff');
font-style: normal;
font-weight: normal;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html{
    background-color: whitesmoke;
}
/* import font-family */

/* contact============================================ */
.container {
    font-family: 'Lato';
  padding: 50px;
}
input[type=text], select, textarea {
    width: 45%;
    min-width: 30vh;
    padding: 12px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}
textarea{
    background-color: whitesmoke;
    border: 0px solid #ccc;
}
input:focus, textarea:focus{
    outline: none !important;
    border-color: black;
}

input[type=submit] {
    padding:12px;
  color: black;
    background: white;
  border: none;
  cursor: pointer;
            -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

input[type=submit]:hover {
    transition: 0.6s;
    
  background-color: whitesmoke;
}
/*====================================================*/
body{
    
    color:black;
    font-family: 'BigNoodleTitling';
    font-style: normal;
    font-weight: normal;
    text-align: left;
}
#navbar{
    border-right: 0px solid;
    background-color: white;
    position: fixed;
    margin: 0;
    padding: 0;
    width:270px;
    height: 100%;
    padding-right:0px;
}

#logo{
    position: absolute;
    left:0;
    top:0;
}
#logo, #logo_hot{
    width: 240px;
    height: 240px;
    padding-top: 15px;
    padding-left: 15px;
}

#links{
    padding-left: 15px;
}

#navbar h1{
    
    text-align:center;
    font-size: 50px;
}



#navbar a{
    font-size: 30px;
    
}

#navbar a:link, a:visited{
        color:black; 
        text-decoration-line: none;
}
#navbar a:hover, a:active{
    transition: .6s;
    color:lightgray;        
    }







#navbar img{
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
    
}
#navbar img:hover{
        opacity:0;
    }

#home{
    background-color:white;
    padding: 0px;
    height: 90vh;
    margin-left: 295px;
    margin-right: 25px;
}

footer{
    width: auto;
    height:50px;
    margin-left: 290px;
    margin-right: 40px;
    margin-top: 10px;
    text-align:right;
    
    
}
.tokens img{
    height: 50px;
    width: 50px;
    padding: 10px;
    padding-top:0px;
    padding-bottom: 0px;
    text-align:left;

}

@media screen and (max-width: 700px) {
  #navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #links a {
      float: left;
      padding: 5%;
      padding-bottom: 0px;
      padding-top: 0px;
    }
    #navbar h1{
        font-size: 40px;

    }

    #home {
      margin-left: 40px;
    }
    #logo, #logo_hot{
        width: 50px;
        height: 50px;
        padding-right: 10px;
    }
    #logo_hot{
        float:left;
    }
    footer{
        width:auto;
        margin-left:40px;
    }
}

@media screen and (max-width: 400px) {
  #navbar a {
    text-align: center;
    padding: 5px;
    float: none;
  }

}


.highlight{
    font-family: 'Lato';
    padding-top: 5%;
    font-size:30px;
    text-align: center;
}
#frontpageimg{
    border: 0px solid;
    min-width: 240px;
    width: 40%;
    height: 40%;
    padding: 25px;
    background-color:white;
}

.shop{
    text-decoration-line:line-through;
    font-size: 30px;
    padding-left: 5px;
}

/* about */
.title{
    font-family:'Lato';
    font-size: 50px;
    padding-top: 50px;
    padding-left: 50px;
}
.bio{
    font-family:'Lato';
    padding-left: 50px;
    width: 50%
}
.biopic{
    min-width:240px;
    min-height:auto;
    width:30%;
    margin-left: 50px;
    margin-top: 10px;
    border: 0px solid;

}
/* gallery */
#row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
    /* contact */

